// Microsoft Visual C++ generated resource script.
#include "../include/resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// Icon

IDI_ICON1       ICON    "McSEE.ico"

/////////////////////////////////////////////////////////////////////////////